/*Обнуление стилей*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

html{height:100%}

body{line-height:1}

ol,ul{list-style:none}

blockquote,q{quotes:none}

blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}

table{border-collapse:collapse;border-spacing:0}


.title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    /*определяет блочный флекс контейнер и приобразовывает в другую ось */
    display: flex;
    flex-direction: column;
}

/*Ограничивает ширину*/
.container{
    max-width: 1180px;
    margin: 0 auto; 
}
 


.hi{
    background: #445162;
    padding: 50px 0;
}
    .hi__row{
        display: flex;
        justify-content: space-between;
    }
    .hi__body{
        color:white;
        padding-right: 30px;
    }
    .hi__title{
        font-size: 60px;
        line-height: 1.2;
        font-weight: 400;
        text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
        margin: 0px 0 36px 0;
    }
    ul{
        list-style: none;
    }
    .hi__list{
        margin: 0 0 50px 0;
       
    }
    .hi__list li{
        background: url("../img/check_icon_346.png") 0 1px no-repeat;
        font-size: 20px;
        line-height: 36px;
        font-weight: 400;
        text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
        padding-left: 36px;
        margin: 0 0 15px 0;
       
    }
    .hi__list li:last-child{
        margin: 0;
    }




.answertoquestion{
    padding: 50px 0;
}
.answertoquestion__row{
    display: flex;
}
.answertoguestion__img{
    flex: 0 0 430px;
}
.answertoguestion__img img{
    max-width: 100%;
}
.answertoguestion__answer{
    flex: 1 1 auto;
    margin: 0 0 0 30px;
}
.answertoguestion__answertitle{
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 33px 0;
}
.answertoguestion__text p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
   margin-bottom: 30px;
}



.columnflexbox{
    background-color: #f5f5f5;
    padding: 50px 0 20px 0;
}
.columnflexbox__title{
    margin-bottom: 30px;
    text-align: center;
}
.columnflexbox__row{
    display: flex;
    flex-wrap: wrap; 
    margin: 0 -8px;
}
.columnflexbox__box{
    flex: 0 1 50%;
    margin-bottom: 30px;
}
.columnflexbox__boxinfo{
    display: flex;
    padding: 0 8px;
}
.columnflexbox__img{
    flex: 0 0 200px; 
}
.columnflexbox__img img{
    max-width: 100%;
}
.columnflexbox__body{
  flex: 1 1 auto;
  padding-left: 15px;
}
.item__title{
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}
.item__text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}



.vertical{
    padding: 50px 0;
}
.vertical__title{
    margin: 30px 0;
    text-align: center;
}
.vertical__body{
    max-width: 990px;
    margin: 0 auto;
}
.vertical__row{
    display: flex;
    margin: 0 -22.5px;
}
.vertical__box{
    flex: 0 1 33.3%;
    padding: 0 22.5px;
    display: flex;

}
.vertical__item{
    background-color: #445162;
    border-radius: 5px;
    color: white;
    border: 1px solid #445162;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

}
.vertical__subtitle{
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 12px 0;
}
.vertical__label{
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    background-color: white;
}
.vertical__text{
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    flex: 1 1 auto;
}
.vertical__text p{
    margin-bottom: 15px;
}
.vertical__button{
    display: block;
    max-height: 40px;
    padding: 10px 0;
    margin: 0 20px;
    text-align: center;
    background-color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    line-height: 18px;
    color: #445161;
}



.footer{
        background-color: #f5f5f5;
    }
    .footer__row{
        display: flex;
        height: 65px;
        justify-content: center;
        align-items: center;
    }
    .footer__text{
        font-size: 12px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #445162;
    }
